<!DOCTYPE HTML>
<html>
<head>
    {% load static %}
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="{% static  'h-ui/css/H-ui.min.css'%}"/>
<link rel="stylesheet" type="text/css" href="{% static  'h-ui.admin/css/H-ui.admin.css'%}" />
<link rel="stylesheet" type="text/css" href="{% static 'lib/Hui-iconfont/1.0.8/iconfont.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'h-ui.admin/skin/default/skin.css' %}" id="skin" />
<link rel="stylesheet" type="text/css" href="{% static 'h-ui.admin/css/style.css' %}" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>管理员列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 管理员列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form action="{% url 'new_admin:admin_role' %}" method="post">
        {% csrf_token %}
        <div class="text-c"> 日期范围：
            <input type="text" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" id="logmin" class="input-text Wdate" style="width:120px;" name="start_date" autocomplete="off" value="{{ start_date }}">
            <input type="text" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" id="logmax" class="input-text Wdate" style="width:120px;" name="end_date" autocomplete="off" value="{{ end_date }}">
            <input type="text" class="input-text" style="width:250px" placeholder="输入管理员名称" id="" name="a_name" value="{{ title }}">
            <input type="hidden" name="search" value="true">
            <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
        </div>
    </form>
   <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="admin_add('添加管理员','{% url 'new_admin:admin_role_add' %}','800','500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加管理员</a></span> <span class="r">共有数据：<strong>{{ user_list.count }}</strong> 条</span> </div>
   <table class="table table-border table-bordered table-bg">
      <thead>
         <tr>
            <th scope="col" colspan="11">用户列表</th>
         </tr>
         <tr class="text-c">
             <th width="25"><input type="checkbox" name="" value=""></th>
             <th width="40">序号</th>
             <th width="60">登录名</th>
             <th width="70">真实姓名</th>
             <th width="40">性别</th>
             <th width="90">手机</th>
             <th width="50">角色</th>
             <th width="100">地址</th>
             <th width="130">加入时间</th>
             <th width="100">是否已启用</th>
             <th width="100">操作</th>
         </tr>
      </thead>
      <tbody>
      {% for user in user_list %}
          <tr class="text-c">
              <td><input type="checkbox" value="1" name=""></td>
              <td>{{ forloop.counter }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.newuser.realname }}</td>
              <td>{% if user.newuser.gender == 1 %}男{% else %}女{% endif %}</td>
              <td>{{ user.newuser.mobile_number }}</td>
              <td>{{ user.newuser.role.role_name }}</td>
              <td>{{ user.newuser.home_address }}</td>
              <td>{{ user.date_joined|date:"Y-m-d" }}</td>
              <td class="td-status">{% if user.is_active == 1 %}<span class="label label-success radius">已启用</span>{% else %}<span class="label label-default radius">已禁用</span>{% endif %}</td>
              <td class="td-manage">{% if user.is_active == 1 %}<a style="text-decoration:none" onClick="admin_stop(this,'{{ user.id }}')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>{% else %}<a onClick="admin_start(this,{{ user.id }})" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>{% endif %} <a title="编辑" href="javascript:;" onclick="admin_edit('管理员编辑','{% url 'new_admin:admin_role_modify' %}?r_id={{ user.id }}','800','500')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="admin_del(this,'{{ user.id }}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
          </tr>
      {% endfor %}
      </tbody>
   </table>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="{% static 'lib/jquery/1.9.1/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/layer/2.4/layer.js' %}"></script>
<script type="text/javascript" src="{% static  'h-ui/js/H-ui.min.js'%}"></script>
<script type="text/javascript" src="{% static  'h-ui.admin/js/H-ui.admin.js'%}"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{% static 'lib/My97DatePicker/4.8/WdatePicker.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/datatables/1.10.0/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/laypage/1.2/laypage.js' %}"></script>
<script type="text/javascript">
/*
   参数解释：
   title  标题
   url       请求的url
   id    需要操作的数据id
   w     弹出层宽度（缺省调默认值）
   h     弹出层高度（缺省调默认值）
*/
/*管理员-增加*/


{% if messages %}
    {% for msg in messages %}
        $.Huimodalalert("{{ msg }}", 1000);
    {% endfor %}
{% endif %}


function admin_add(title,url,w,h){
   layer_show(title,url,w,h);
}
/*管理员-删除*/
function admin_del(obj,id){
   layer.confirm('确认要删除吗？',function(index){
      $.ajax({
         type: 'GET',
         url: '{% url 'new_admin:admin_role_del' %}?r_id=' + id,
         dataType: 'json',
         success: function(data){
            if ( data.status == 1){
                console.log(data.status);
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                }
                else {
                     layer.msg('删除失败!',{icon:6,time:1000});
                }
         },
         error:function(data) {
            console.log(data.status);
         },
      });
   });
}

/*管理员-编辑*/
function admin_edit(title,url,w,h){
   layer_show(title,url,w,h);
}
/*管理员-停用*/
function admin_stop(obj,id){
   layer.confirm('确认要停用吗？',function(index){
      //此处请求后台程序，下方是成功后的前台处理……
        $.ajax({
            type: "GET",
            url: "{% url 'new_admin:admin_role_status' %}?id=" + id,
            dataType: "json",
            success: function (data) {
                $(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_start(this,'+id+')" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
              $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已禁用</span>');
              $(obj).remove();
              if (data.status == 1){
                    layer.msg(data.msg,{icon: 5,time:1000});
                }
                else {
                    layer.msg("停用失败!", {icon:5,time:1000});
                }

            }
        })

   });
}

/*管理员-启用*/
function admin_start(obj,id){
   layer.confirm('确认要启用吗？',function(index){
      //此处请求后台程序，下方是成功后的前台处理……
        $.ajax({
            type: "GET",
            url: "{% url 'new_admin:admin_role_status' %}?id=" +　id,
            dataType: 'json',
         success: function(data){
            $(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_stop(this,'+id+')" href="javascript:;" title="停用" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
              $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
              $(obj).remove();
              if (data.status == 2) {
                   layer.msg(data.msg, {icon: 6,time:1000});
                }
                else {
                     layer.msg("启用失败!", {icon:5,time:1000});
                }
         },
        })


   });
}
</script>
</body>
</html>
