<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

    <link rel="Bookmark" href="/favicon.ico" >
    <link rel="Shortcut Icon" href="/favicon.ico" />
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'h-ui/css/H-ui.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'h-ui.admin/css/H-ui.admin.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lib/Hui-iconfont/1.0.8/iconfont.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'h-ui.admin/skin/default/skin.css' %}" id="skin" />
    <link rel="stylesheet" type="text/css" href="{% static 'h-ui.admin/css/style.css' %}" />
    <!--/meta 作为公共模版分离出去-->

    <title>栏目设置</title>
</head>
<body>
<div class="page-container">
    <form action="{% url 'new_admin:category_add_check' %}" method="post" class="form form-horizontal" id="form-category-add">
        {% csrf_token %}
        <div id="tab-category" class="HuiTab">
            <div class="tabBar cl">
                <span>基本设置</span>
            </div>
            <div class="tabCon">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">
                        <span class="c-red">*</span>
                        上级栏目：</label>
                    <div class="formControls col-xs-8 col-sm-9">
						<span class="select-box">
						<select class="select" id="sel_Sub" name="sel_Sub" onchange="SetSubID(this);">
                                <option value="0">------</option>
							{% for menu in menu_list %}
                                <option value="{{ menu.id }}">{{ menu.menu_name }}</option>
                            {% endfor %}
						</select>
						</span>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">
                        <span class="c-red">*</span>
                        菜单名称：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="" placeholder="" id="" name="menu_name" required>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">打开路径：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="" placeholder="" id="" name="page_url">
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">权限人员：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        {% for user in user_list %}
                            <span class="select-box">
                                <input name="role" type="checkbox" value="{{ user.id }}" id="menu{{ user.id }}" title="">
                                <label for="menu{{ user.id }}">{{ user.role_name }}</label>
                                </span>
                        {% endfor %}
                    </div>
                    <div class="col-3">
                    </div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <div class="col-9 col-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                <input type="hidden" name="role1" class="hidden">
            </div>
        </div>
    </form>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#tab-category").Huitab({
            index:0
        });
        {#$("#form-category-add").validate({#}
        {#    rules:{#}
        {##}
        {#    },#}
        {#    onkeyup:false,#}
        {#    focusCleanup:true,#}
        {#    success:"valid",#}
        {#    submitHandler:function(form){#}
        {#        //$(form).ajaxSubmit();#}
        {#        var index = parent.layer.getFrameIndex(window.name);#}
        {#        //parent.$('.btn-refresh').click();#}
        {#        parent.layer.close(index);#}
        {#    }#}
        {# });#}
    });
</script>
<script>
    $('form').submit(function (e) {
        var chk_value =[];
        $('input[name="role"]:checked').each(function(){
            chk_value.push($(this).val());
        });
        $('.hidden').attr('value',chk_value)
    });

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
