<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
{% load static %}
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="{% static 'h-ui/css/H-ui.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'h-ui.admin/css/H-ui.admin.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lib/Hui-iconfont/1.0.8/iconfont.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'h-ui.admin/skin/default/skin.css' %}" id="skin" />
<link rel="stylesheet" type="text/css" href="{% static 'h-ui.admin/css/style.css' %}" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>班级设置</title>
</head>
<body>
<div class="page-container">
	<form action="{% url 'new_admin:classgrade_add_check' %}" target="_parent" method="POST" class="form form-horizontal" id="form-classgrade-add">
    {% csrf_token %}
        <div id="tab-category" class="HuiTab">
			<div class="tabBar cl">
				<span>基本设置</span>
			</div>
			<div class="tabCon">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">
						<span class="c-red"></span>
						班级名称：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" placeholder="请输入班级名称" id="classname" name="classname" required>
					</div>
					<div class="col-3">
					</div>
				</div>
                <div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">
						<span class="c-red"></span>
						开班时间：</label>
					<div class="formControls col-xs-8 col-sm-9">
		                <input type="text" onfocus="WdatePicker()" id="logmin" name="start_time" class="input-text Wdate" style="width:552.500px;" autocomplete="off">
					</div>
					<div class="col-3">
					</div>
				</div>
                <div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">
						<span class="c-red"></span>
						结业时间：</label>
					<div class="formControls col-xs-8 col-sm-9">
		<input type="text" onfocus="WdatePicker()" id="logmax" name="end_time" class="input-text Wdate" style="width:552.500px;" autocomplete="off">
					</div>
					<div class="col-3">
					</div>
				</div>
            <div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">
						<span class="c-red"></span>
						班级类型：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<span class="select-box">
						<select class="select" id="class_type" name="class_type">
                            <option value=" ">&nbsp;&nbsp;请选择</option>
                            <option value="0">&nbsp;&nbsp;训练营</option>
                            <option value="1">&nbsp;&nbsp;普通班级</option>
						</select>
						</span>
					</div>
					<div class="col-3">
					</div>
				</div>
             <div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">
						<span class="c-red"></span>
						添加人：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<span class="select-box">
						<select class="select" id="add_user" name="add_user">
							<option value="{{ user.id }}" selected="selected">{{ add_user.realname }}</option>
						</select>
						</span>
					</div>
					<div class="col-3">
					</div>
				</div>
            <div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">
						<span class="c-red"></span>
						班主任：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<span class="select-box">
						<select class="select" id="manager_user" name="manager_user">
                                <option value=" ">&nbsp;&nbsp;请选择</option>
                            {% for u in user_list %}
                                 {% if u.role.id == 5 %}
                                <option value="{{ u.user.id }}">&nbsp;&nbsp;{{ u.realname }}</option>
                                 {% endif %}
                            {% endfor %}
						</select>
						</span>
					</div>
					<div class="col-3">
					</div>
				</div>
            <div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">
						<span class="c-red"></span>
						讲师：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<span class="select-box">
						<select class="select" id="teacher_user" name="teacher_user">
                                <option value=" ">&nbsp;&nbsp;请选择</option>
							 {% for user in user_list %}
                                {% if user.role.id == 6 %}
                                <option value="{{ user.user.id }}">&nbsp;&nbsp;{{ user.realname }}</option>
                                {% endif %}
                            {% endfor %}
						</select>
						</span>
					</div>
					<div class="col-3">
					</div>
				</div>
			</div>
		</div>
		<div class="row cl">
			<div class="col-9 col-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="{% static 'lib/jquery/1.9.1/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/layer/2.4/layer.js' %}"></script>
<script type="text/javascript" src="{% static 'h-ui/js/H-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'h-ui.admin/js/H-ui.admin.js' %}"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{% static 'lib/My97DatePicker/4.8/WdatePicker.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/jquery.validation/1.14.0/jquery.validate.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/jquery.validation/1.14.0/validate-methods.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/jquery.validation/1.14.0/messages_zh.js' %}"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#tab-category").Huitab({
		index:0
	});
});
</script>

<script>

$("form").submit(function (e) {
    if ($('#classname').val() == ' '){
        alert('班级名称不能为空!');
        $('#classname').focus();
        return false;
    }
     if ($('#class_type').val() == ' '){
        alert('请选择班级类型!');
        $('#class_type').focus();
        return false;
    }
     if ($('#add_user').val() == ' '){
        alert('请选择添加人!');
        $('#add_user').focus();
        return false;
    }
     if ($('#manager_user').val() == ' '){
        alert('请选择班主任!');
        $('#manager_user').focus();
        return false;
    }
     if ($('#teacher_user').val() == ' '){
        alert('请选择讲师!');
        $('#teacher_user').focus();
        return false;
    }

});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>