<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "h-ui/css/H-ui.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "h-ui.admin/css/H-ui.admin.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "lib/Hui-iconfont/1.0.8/iconfont.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "h-ui.admin/skin/default/skin.css" %}" id="skin" />
    <link rel="stylesheet" type="text/css" href="{% static "h-ui.admin/css/style.css" %}" />
    <title>训练营管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 班级管理 <span class="c-gray en">&gt;</span> 训练营 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form action="{% url 'six_group:training_camp' %}" method="post" >
        {% csrf_token %}
        <div class="text-c">
            <button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
            {#        日期范围：#}
            {#		<input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin" class="input-text Wdate" style="width:120px;">#}
            {#		-#}
            {#		<input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;">#}
            <input type="text" name="realname" id="" placeholder=" 学员名称" style="width:250px" class="input-text" value="{{ realname }}">
            <button name="" id="btnsubmit" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索学员信息</button>
        </div>
    </form>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
            <thead>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value=""></th>
                <th width="40">ID</th>
                <th width="50">学员姓名</th>
                <th width="60">手机号</th>
                <th width="90">身份证</th>
                <th width="50">出生日期</th>
                <th width="50">性别</th>
                <th width="50">学历</th>
                <th width="140">家庭住址</th>
                <th width="50">学员状态</th>
                <th width="50">班级名称</th>
                <th width="50">是否激活</th>
                <th width="60">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for stu in stu_class %}
                {% if stu.student.role.role_name == '学员' and stu.student.is_del == 0 %}
                    <tr class="text-c">
                        <td><input type="checkbox" value="{{ stu.student.id }}" name=""></td>
                        <td>{{ stu.student.id }}</td>
                        <td>{{ stu.student.realname }}</td>
                        <td>{{ stu.student.mobile_number }}</td>
                        <td>{{ stu.student.id_card }}</td>
                        <td>{{ stu.student.birthday|date:"Y-m-d" }}</td>
                        <td>{{ stu.student.get_gender_display }}</td>
                        <td>{{ stu.student.edu_level }}</td>
                        <td>{{ stu.student.home_address }}</td>
                        <td>{{ stu.student.get_state_display }}</td>
                        <td>{{ stu.grade }}</td>
                        <td>
                            <a title="编辑" href="javascript:;" onclick="system_category_edit('学员编辑','{% url 'six_group:activate_state' %}?n_id={{ stu.student.id }}','1','400','300')" style="text-decoration:none"><button style="width: 20px" class="Hui-iconfont">是</button></a>
                            <button onclick="system_category_not(this,'{{ stu.student.id }}')" style="width: 20px" class="Hui-iconfont">否</button>
                        </td>
                        <td class="f-14">
                            <a title="编辑" href="javascript:;" onclick="system_category_edit('财务编辑','{% url 'six_group:subsidy_add' %}?n_id={{ stu.student.id }}','1','750','650')" style="text-decoration:none"><i class="Hui-iconfont">财务 </i></a>
                            <a title="编辑" href="javascript:;" onclick="system_category_edit('学员编辑','{% url 'new_admin:student_amend' %}?n_id={{ stu.student.id }}','1','750','650')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                            <a style="text-decoration:none; display: none;" class="ml-5" onclick="system_category_del(this,'{{ stu.student.id }}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="{% static "lib/jquery/1.9.1/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "lib/layer/2.4/layer.js" %}"></script>
<script type="text/javascript" src="{% static "h-ui/js/H-ui.min.js" %}"></script>
<script type="text/javascript" src="{% static "h-ui.admin/js/H-ui.admin.js" %}"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{% static "lib/My97DatePicker/4.8/WdatePicker.js" %}"></script>
<script type="text/javascript" src="{% static "lib/datatables/1.10.0/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "lib/laypage/1.2/laypage.js" %}"></script>
<script type="text/javascript">
    {% if messages %}
        {% for message in messages %}
            $.Huimodalalert('{{ message }}',2000);
        {% endfor %}
    {% endif %}
    $('.table-sort').dataTable({
        "aaSorting": [[ 1, "desc" ]],//默认第几个排序
        "bStateSave": true,//状态保存
        "pading":false,
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
            {"orderable":false,"aTargets":[0,8]}// 不参与排序的列
        ]
    });
    function system_category_edit(title,url,id,w,h){
       a = {{ user.role.id }};
       if (title == "财务编辑" && a != 7){
           $.Huimodalalert('权限不足',2000);
       }
       else{
           layer_show(title,url,w,h);
       }
       return false
    }
    /*资讯-添加*/
    function article_add(title,url,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
    /*资讯-编辑*/
    function article_edit(title,url,id,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
    function system_category_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                type: 'GET',
                url: '{% url "new_admin:student_delete"%}?n_id=' + id,
                dataType: 'json',
                success: function(data){
                    if (data.status == 1){
                        $(obj).parents("tr").remove();
                        layer.msg(data.msg,{icon:1,time:1000});
                        {#function (){#}
                        {#    location.reload();#}
                        //});
                    }else {
                        layer.msg(data.msg,{icon:6,time:1000});
                    }
                },
            });
        });
    }
    function system_category_not(obj,id){
        layer.confirm('确认要放弃学习吗？',function(index){
            $.ajax({
                type: 'GET',
                url: '{% url "six_group:activate_state_not"%}?n_id=' + id,
                dataType: 'json',
                success: function(data){
                    if (data.status == 1){
                        $(obj).parents("tr").remove();
                        layer.msg(data.msg,{icon:1,time:1000});
                        {#function (){#}
                        {#    location.reload();#}
                        //});
                    }else {
                        layer.msg(data.msg,{icon:6,time:1000});
                    }
                },
            });
        });
    }

</script>
</body>
</html>
