*{
	margin: 0;
	padding: 0;
}
.header{
	height: 100px;
	background-color: aqua;
}

.logined{
	display: none;
}

.unlogin{
	display: none;
}

.show{
	display: block;
}

.content{
	
}
.left{
	width: 20%;
	float: left;
	background-color: antiquewhite;
}

.right{
	width: 80%;
	float: right;
	background-color: cadetblue;
	/* height: 500px; */
}

.footer{
	clear: both;
	height: 80px;
	background-color: chocolate;
}

.right{
	position: relative;
}
.right>div{
	/* position: absolute; */
	display: none;
}
.right>.visibility{
	display: block;
}
.right .item{
	background-color: skyblue;
	margin-bottom: 5px;
}
.right .item>img{
	width: 50px;
	height: 50px;
}


.un{
	margin-right: 20px;
}
.delete{
	display: none;
}
.mywb>.item>.delete{
	display: block;
}