<!DOCTYPE HTML>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static "h-ui/css/H-ui.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "h-ui.admin/css/H-ui.admin.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "lib/Hui-iconfont/1.0.8/iconfont.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "h-ui.admin/skin/default/skin.css" %}" id="skin" />
    <link rel="stylesheet" type="text/css" href="{% static "h-ui.admin/css/style.css" %}" />
    <link rel="stylesheet" href="{% static 'new_admin/css/new_admin.css' %}">
    <!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
    <title>学员入住信息</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 宿舍管理 <span class="c-gray en">&gt;</span> 学员入住信息 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form action="{% url 'dormitory:dormstu_list' %}" method="post">
        {% csrf_token %}
        <div class="text-c"> 日期范围：
            <input type="text" name="start_time" value="{{ start_time }}"  onfocus="WdatePicker()" id="datemin" class="input-text Wdate" style="width:120px;" autocomplete="off">
            -
            <input type="text" name="stop_time" value="{{ stop_time }}" onfocus="WdatePicker()" id="datemax" class="input-text Wdate" style="width:120px;" autocomplete="off">
            <input type="text" name="name" id="" placeholder="宿舍名称、班主任名称或学员名称" style="width:250px" class="input-text" value="{{ name }}">
            <input type="hidden" name="search" value="true">
            <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
        </div>
    </form>

    <div class="cl pd-5 bg-1 bk-gray mt-20">
{#        <span class="l"> <a href="javascript:;" onclick="dorm_add('添加学员入住信息','add/','800','500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加学员入住信息</a></span> #}
        <span class="r">共有数据：<strong>{{ dormstu_list.count }}</strong> 条</span> </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th scope="col" colspan="9">学员入住列表</th>
        </tr>
        <tr class="text-c">
            <th width="40">ID</th>
            <th width="150">入住学员</th>
            <th width="150">入住宿舍</th>
            <th width="90">入住时间</th>
            <th width="150">离开时间</th>
            <th width="130">班主任</th>
{#            <th width="100">操作</th>#}
        </tr>
        </thead>
        <tbody>
        {% for dorstu in dormstu_list %}
            <tr class="text-c">
                <td>{{ dorstu.id }}</td>
                <td>{{ dorstu.user.realname }}</td>
                <td>{{ dorstu.dormitory.dorm_name }}</td>
                <td>{{ dorstu.entry_date | date:'Y-m-d' }}</td>
                <td>{{ dorstu.leave_date | date:'Y-m-d'  }}</td>
                <td>{{ dorstu.headmaster.realname  }}</td>
{#                <td class="td-manage"> <a title="编辑" href="javascript:;" onclick="dorm_edit('宿舍编辑','modify/?m={{ dorstu.id }}','800','500')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="dormstu_del(this,'{{ dorstu.id }}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>#}
            </tr>
        {% empty %}
            <tr class="odd"><td colspan="6" class="dataTables_empty">没有数据</td></tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation" class="nav0">
        <ul class="pagination">
            {% if d_list.has_previous %}
                <li>
                    <a href="?page={{ d_list.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true" >上一页</span>
                    </a>
                </li>
            {% endif %}
            {% for pg in d_list.paginator.page_range %}
                {% if d_list.number == pg %}
                    <li class="active" ><a href="?page={{ pg }}" class="pg">{{ pg }}</a></li>
                {% else %}
                    <li><a href="?page={{ pg }}" class="pg">{{ pg }}</a></li>
                {% endif %}
            {% endfor %}
            {% if d_list.has_next %}
                <li>
                    <a href="?page={{ d_list.next_page_number }}" aria-label="Next">
                        <span aria-label="ture" >下一页</span>
                    </a>
                </li>
            {% endif %}
        </ul>
        <form action="{% url 'dormitory:dormstu_stage' %}" method="get">
            <input type="number" name="page">
            <input type="submit" value="跳转">
        </form>
    </nav>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="{% static "lib/jquery/1.9.1/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "lib/layer/2.4/layer.js" %}"></script>
<script type="text/javascript" src="{% static "h-ui/js/H-ui.min.js" %}"></script>
<script type="text/javascript" src="{% static "h-ui.admin/js/H-ui.admin.js" %}"></script>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{% static "lib/My97DatePicker/4.8/WdatePicker.js" %}"></script>
<script type="text/javascript" src="{% static "lib/datatables/1.10.0/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "lib/laypage/1.2/laypage.js" %}"></script>
<script type="text/javascript">
    {% if messages %}
        {% for message in messages %}
            $.Huimodalalert('{{ message }}', 1000);
        {% endfor %}
    {% endif %}
</script>
</body>
</html>