<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <script src="https://cdn.bootcss.com/jquery/1.12.2/jquery.js"></script>
</head>
<body>
<form method="post" action="/login/" id="form1">
    用户名：<input type="text" name="username" placeholder="请输入用户名！" id="username"><br>
    密&nbsp;码:<input type="password" name="pwd" placeholder="请输入密码！" id="pwd"><br>
    <input type="submit" value="登录" id="submit">
</form>
<script>
    function getCookie(c_name){
　　　　if (document.cookie.length>0){　　//先查询cookie是否为空，为空就return ""
　　　　　　c_start=document.cookie.indexOf(c_name + "=")　　//通过String对象的indexOf()来检查这个cookie是否存在，不存在就为 -1　　
　　　　　　if (c_start!=-1){
　　　　　　　　c_start=c_start + c_name.length+1　　//最后这个+1其实就是表示"="号啦，这样就获取到了cookie值的开始位置
　　　　　　　　c_end=document.cookie.indexOf(";",c_start)　　//其实我刚看见indexOf()第二个参数的时候猛然有点晕，后来想起来表示指定的开始索引的位置...这句是为了得到值的结束位置。因为需要考虑是否是最后一项，所以通过";"号是否存在来判断
　　　　　　　　if (c_end==-1) c_end=document.cookie.length　　
　　　　　　　　return unescape(document.cookie.substring(c_start,c_end))　　//通过substring()得到了值。想了解unescape()得先知道escape()是做什么的，都是很重要的基础，想了解的可以搜索下，在文章结尾处也会进行讲解cookie编码细节
　　　　　　}
　　　　}
　　　　return ""
　　}

    $('#submit').click(function () {
        var username = $('#username').val();
        var pwd = $('#pwd').val();
        try {
            // 获取cookie中的csrftoken
            var csrftoken = getCookie('csrftoken')
            console.log(csrftoken)
            // 判断用户名 或者密码是否为空
            if(username == '' || pwd == "") {
                alert('账户或者密码不能为空！');
                return false;
            }
            console.log(document.querySelector('form'))

            var formData = new FormData(document.querySelector('#form1'))
            console.log({"X-CSRFToken": csrftoken});
            // 如果用formData 发送数据，必须禁用ajax转换数据
            // 如果不用formData，可以不加禁用，data:{id:11,name:2333}
            $.ajax({
                url: $('form').attr('action'), //设置请求地址
                type: "post",
                headers:{"X-CSRFToken": csrftoken},
                processData: false,
                contentType: false,
                async: false, //同步
                dataType: 'json', // 设置响应内容类型
                data: formData,
                error: function (e) {
                    console.log(e)
                },
                success: function (data) {
                    if(data.code == 0){
                        alert('登录成功!')
                    }else{
                        alert(data.msg)
                    }
                }
            });
        }catch (e) {  //用try  catch的目的是为了 防止ajax内部报错引起页面form跳转。
            return false;
        }
        return false;
    });
</script>
</body>
</html>