<!DOCTYPE HTML>
{% load static %}
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="{% static "h-ui/css/H-ui.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "h-ui.admin/css/H-ui.admin.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "lib/Hui-iconfont/1.0.8/iconfont.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "h-ui.admin/skin/default/skin.css" %}" id="skin" />
<link rel="stylesheet" type="text/css" href="{% static "h-ui.admin/css/style.css" %}" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>自我评价</title>
</head>
<body>

<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
		<a class="btn {% if expire == 0 %}btn-primary{% else %}disabled{% endif %} radius"  href="{% url 'study:self_add' %}"><i class="Hui-iconfont">&#xe600;</i> 添加评价</a>
        <a style="display: none;" class="btn btn-primary radius" href="{% url 'study:stu_main' %}">返回主页面</a>
		</span>
		<span class="r">共有数据：<strong>{{ selfs.count}}</strong> 条</span>
	</div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th width="25"><input type="checkbox" name="" value=""></th>
                    <th width="50">序号</th>
                    <th width="150">讲师</th>
                    <th width="150">授课计划</th>
                    <th>掌握程度评价</th>
					<th width="250">意见反馈</th>
					<th width="150">操作</th>
				</tr>
			</thead>
			<tbody>
            {% for self in selfs %}
                    <tr class="text-c">
					    <td><input type="checkbox" name="" value=""></td>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ self.give_les.teacher_id.realname }}</td>
                        <td>{{ self.give_les.les_plan|slice:'20' }}</td>
                        <td>
                            {% autoescape off %}
                        {{ self.knowledges }}
                            {% endautoescape %}
                        </td>
					    <td >{{ self.evaluete_content|slice:'30' }}</td>
					    <td class="f-14"><a title="编辑" href="{% url "study:self_modify" %}?c_id={{ self.id }}" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a></td>
				    </tr>
            {% endfor %}

			</tbody>
		</table>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="{% static "lib/jquery/1.9.1/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "lib/layer/2.4/layer.js" %}"></script>
<script type="text/javascript" src="{% static "h-ui/js/H-ui.min.js" %}"></script>
<script type="text/javascript" src="{% static "h-ui.admin/js/H-ui.admin.js" %}"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{% static "lib/My97DatePicker/4.8/WdatePicker.js" %}"></script>
<script type="text/javascript" src="{% static "lib/datatables/1.10.0/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "lib/laypage/1.2/laypage.js" %}"></script>
<script type="text/javascript">

    {% if messages %}
        {% for message in messages %}
            alert('{{ message }}', 1000);
        {% endfor %}
    {% endif %}


$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[0,6]}// 制定列不参与排序
	]
});
/*系统-栏目-添加*/
function system_category_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*系统-栏目-编辑*/
function system_category_edit(title,url,w,h){
	layer_show(title,url,w,h);
}
/*系统-栏目-删除*/
function system_category_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'GET',
			url: '{% url 'new_admin:category_del' %}?c_id='+id,
			dataType: 'json',
			success: function(data){
			    console.log(data.status);
			    if (data.status == 1){
			        console.log(data.status);
                       $(obj).parents("tr").remove();
				        layer.msg('已删除!',{icon:1,time:1000});
                    }else {
                        layer.msg("删除失败!!!",{icon:6,time:1000});
                    }
			},
            error:function(data) {
                console.log(data.status);
                },
		});
	});
}
</script>
</body>
</html>