<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "h-ui/css/H-ui.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "h-ui.admin/css/H-ui.admin.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "lib/Hui-iconfont/1.0.8/iconfont.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "h-ui.admin/skin/default/skin.css" %}" id="skin" />
    <link rel="stylesheet" type="text/css" href="{% static "h-ui.admin/css/style.css" %}" />
    <style>
        .tag{
            padding: 2px 5px;
            background: green;
            border-radius: 3px;
            color:white;
        }
        .add{
            padding: 2px 5px;
            border-radius: 3px;
            color:white;
            background:red;
            cursor: pointer;
        }
    </style>
    <title>青云·英才人才库</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 人才库 <span class="c-gray en">&gt;</span> 人才管理
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" >
        <i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <form action="{% url 'talent:student_query' %}" method="post" >
        {% csrf_token %}
        <div class="text-c">
            <button onclick="removeIframe()" class="btn btn-primary radius">关闭</button>

            <input type="text" name="realname" id="" placeholder="请输入真实姓名" style="width:250px" class="input-text" value="{{ realname }}">
            <button id="btnSubmit" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 查询</button>
        </div>
    </form>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
            <thead>
            <tr class="text-c">
                <th width="30">ID</th>
                <th width="40">姓名</th>
                <th width="30">性别</th>
                <th width="50">学历</th>
                <th width="80">电话</th>
                <th width="120">标签</th>
                <th width="70">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for t in t_list %}
                {% if t.student_id.role.role_name == 'ѧԱ' and t.student_id.is_del == 0 %}
                    <tr class="text-c">
                        <td>{{ t.id }}</td>
                        <td>{{ t.student_id.realname }}</td>
                        <td>{{ t.student_id.get_gender_display }}</td>
                        <td>{{ t.student_id.edu_level }}</td>
                        <td>{{ t.student_id.mobile_number }}</td>
                        <td>
                            {% for tag in t.tags.all %}
                                {% if forloop.counter <= 3 %}
                                    <span class="tag">{{ tag.name }}</span>
                                {% endif %}
                            {% endfor %}
                            <span class="add" onclick="tag_add('添加标签','/talent_all/tag/?s_id={{ t.student_id.id }}','800','500')">添加标签</span>
                        </td>
                        <td class="f-14"><a   href="javascript:;" onclick="tag_show('查看标签','/talent_all/tag/show/?s_id={{ t.student_id.id }}','800','500')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e0;</i></a>
                            <a style="text-decoration:none" class="ml-5" onclick="talent_del(this,'{{ t.id }}')" href="javascript:;"  ><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                    </tr>
                {% endif %}
            {% empty %}
                <tr></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="{% static "lib/jquery/1.9.1/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "lib/layer/2.4/layer.js" %}"></script>
<script type="text/javascript" src="{% static "h-ui/js/H-ui.min.js" %}"></script>
<script type="text/javascript" src="{% static "h-ui.admin/js/H-ui.admin.js" %}"></script>

<script type="text/javascript" src="{% static "lib/My97DatePicker/4.8/WdatePicker.js" %}"></script>
<script type="text/javascript" src="{% static "lib/datatables/1.10.0/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "lib/laypage/1.2/laypage.js" %}"></script>
<script type="text/javascript">
    {% if messages %}
        {% for message in messages %}
            $.Huimodalalert('{{ message }}',2000);
        {% endfor %}

    {% endif %}
    function tag_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
    function tag_show(title,url,w,h){
        layer_show(title,url,w,h);
    }
    $('.table-sort').dataTable({
        "aaSorting": [[ 1, "desc" ]],
        "bStateSave": true,
        "pading":false,
        "aoColumnDefs": [
             {"orderable":false,"aTargets":[0,6]}
        ]
    });
    function system_category_edit(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    function talent_del(obj,id){
        layer.confirm('是否要删除这条数据',function(index){
            $.ajax({
                type: 'GET',
                url: '{% url "talent:talent_delete"%}?t_id=' + id,
                dataType: 'json',
                success: function(data){
                    if (data.status == 1){
                        $(obj).parents("tr").remove();
                        layer.msg(data.msg,{icon:1,time:1000});
                    }else {
                        layer.msg(data.msg,{icon:6,time:1000});
                    }
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        });
    }
</script>
</body>
</html>