<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico" >
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'h-ui/css/H-ui.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'h-ui.admin/css/H-ui.admin.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lib/Hui-iconfont/1.0.8/iconfont.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'h-ui.admin/skin/default/skin.css' %}" id="skin" />
    <link rel="stylesheet" type="text/css" href="{% static 'h-ui.admin/css/style.css' %}" />
    <!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <title>栏目设置</title>
</head>
<body>
<div class="page-container">
    <form action="{% url 'evaluate:evaluate_test_question_add_check' %}" method="POST" class="form form-horizontal" id="form-category-add">
        {% csrf_token %}
        <div id="tab-category" class="HuiTab">
            <div class="tabBar cl">
                <span>基本设置</span>
            </div>
            <div class="tabCon">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">
                        <span class="c-red">*</span>
                        测试名称：</label>
                    <div class="formControls col-xs-8 col-sm-9">
						<span class="select-box">
						<select class="select" id="test_id" name="test_id">
                            {% for test in test_list %}
                                <option value="{{ test.id }}">&nbsp;&nbsp;{{ test.test_name }}</option>
                            {% endfor %}
						</select>
						</span>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">
                        <span class="c-red">*</span>
                        测试类型：</label>
                    <div class="formControls col-xs-8 col-sm-9">
						<span class="select-box">
						<select class="select" id="test_type_id" name="test_type_id">
                                <option value="1">&nbsp;&nbsp;讲师评测</option>
                                <option value="2">&nbsp;&nbsp;班主任评测</option>
                                <option value="3">&nbsp;&nbsp;后勤评测</option>
                                <option value="4">&nbsp;&nbsp;职业素养测评</option>
						</select>
						</span>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">
                        <span class="c-red">*</span>
                        题目类型：</label>
                    <div class="formControls col-xs-8 col-sm-9">
						<span class="select-box">
						<select class="select" id="question_type_id" name="question_type_id">
                                <option value="1">&nbsp;&nbsp;单选题</option>
                                <option value="2">&nbsp;&nbsp;是非题</option>
                                <option value="3">&nbsp;&nbsp;主观题</option>
						</select>
						</span>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">
                        <span class="c-red">*</span>
                        考试内容：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" placeholder="输入考试题目内容" id="test_content" name="test_content" required>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">
                        <span class="c-red">*</span>
                        最高分数：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" placeholder="输入该题最高分数" id="test_score" name="test_score" required>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="row cl">
                    <div class="col-9 col-offset-3">
                        <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="{% static 'lib/jquery/1.9.1/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/layer/2.4/layer.js' %}"></script>
<script type="text/javascript" src="{% static 'h-ui/js/H-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'h-ui.admin/js/H-ui.admin.js' %}"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{% static 'lib/My97DatePicker/4.8/WdatePicker.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/jquery.validation/1.14.0/jquery.validate.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/jquery.validation/1.14.0/validate-methods.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/jquery.validation/1.14.0/messages_zh.js' %}"></script>
<script type="text/javascript">
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#tab-category").Huitab({
            index:0
        });
    });
</script>

<script>
    {% if messages %}
        {% for message in messages %}
            alert('{{ message }}');
        {% endfor %}
    {% endif %}

    $("form").submit(function (e) {
        if ($('#test_id').val() == ''){
            alert('请选择测试名称!');
            $('#test_id').focus();
            return false;
        }
        if ($('#test_type_id').val() == ''){
            alert('请选择测试类型!');
            $('#test_type_id').focus();
            return false;
        }
        if($("#question_type_id").val() == ''){
            alert('请选择题目类型!');
            $('#question_type_id').focus();
            return false
        }
        if($("#test_content").val() == ''){
            alert('请输入考试内容!');
            console.log('123123');
            $('#test_content').focus();
            return false
        }
        if($("#test_score").val() == ''){
            alert('请输入分数!');
            $('#test_score').focus();
            return false
        }


    })

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>